
<div class="back-to-top-container sticky top-3/4 right-1/4 " data-controller="viewport-entrance-toggle" data-viewport-entrance-toggle-class="back-to-top-container--intersecting">
  <button class="back-to-top__button button bg-white/80 rounded-full w-10px h-10px px-4 py-2 border border-gray-600 text-lg transition duration-200 ease-in-out" onclick="window.scrollTo({ top: 0, behavior: 'smooth' })">🔝</button>
</div>
