<div class="grid grid-cols-4 gap-4 m-10">
  <% @portefolios.each do |portefolio| %>
    <%= link_to portefolio_path(portefolio) do %>
      <%= render "portefolio/card_project", portefolio: portefolio %>
    <% end %>
  <% end %>
  <% if user_signed_in?  %>
    <%= link_to new_portefolio_path do %>
      <%= render "portefolio/card_add_new_project"%>
    <% end %>
  <% end  %>
</div>
